.appear {
  animation: appear 300ms ease;
  opacity: 1;
  transform: scale(1);
}

.hidden {
  animation: hidden 300ms ease;
  opacity: 0;
  transform: scale(0);
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hidden {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
