.sidebar {
  z-index: 99;
  min-width: 300px;
  width: 300px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all 500ms ease;
}

.translate {
  transform: translateX(-250px);
}

.titleRow {
  padding: 0 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .sidebar {
    width: 100%;
  }

  .translate {
    transform: translateX(-100%);
  }
}
